.jumbotron {

  float: left;
  width: 100%;

  .main-menu {

    float: left;
    width: 100%;
    margin-top: 20px;

    .option {

      float: left;
      display: block;
      height: 45px;
      width: 40%;
      margin: 10px 5%;
      border: 1px solid;
      border-radius: 10px;
      text-align: center;

      &:hover {
        text-decoration: none;
      }

      span {
        font-size: 28px;
      }

      &.blue {
        background-color: #428bca;
        border-color: #428bca;
        color: white;
      }

      &.green {
        background-color: #00b200;
        border-color: #00b200;
        color: white;
      }
    }
  }
}
