<div>

  <div class="col-md-12">
    <div class="well bs-component">

      <h1>Add a new book</h1>

      <div id="search">
        <div>
          <label for="title">Title</label>
          <input id="title" ng-model="editBook.searchedTitle" ng-model-options="{ debounce: 100 }">
          <label for="author">Author</label>
          <input id="author" ng-model="editBook.searchedAuthor" ng-model-options="{ debounce: 100 }">
          <button ng-click="editBook.showFindBookPopup()">Find book</button>
        </div>
      </div>

      <book-form></book-form>
    </div>

  </div>
</div>
